[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
flask-mail = "*"
python-dotenv = "*"
openai = "*"
faster-whisper = "*"
transformers = "*"
sentencepiece = "*"
pysbd = "*"
gtts = "*"
boto3 = "*"
flask-login = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
werkzeug = "*"
psycopg2-binary = "*"
flask-jwt-extended = "*"
pyjwt = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.1"

[scripts]
start = "python main.py"
